* {
    font-family: "Josefin Sans", serif;
    font-size: 16px;
}

html {
    --color-white: #F4F4F6;
    --color-black: #0A0A0A;
    --color-red: #DC143C;
    --color-green: #32CD32;
    --color-orange: #FF6700;
}

body {
    background: url("/img/background.svg") no-repeat center center;
    background-size: cover;
}

#header {
    padding: 1vh 0;
    color: var(--color-black);
    background-color: transparent;
}

#header_logo {
    width: fit-content;
    font-size: 2.4rem;
    padding-left: 2rem;
    text-shadow: var(--color-black) 1px 1px 0px;
}


#main {
    width: 100%;
    min-height: calc(100vh - 8rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-box {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;
    margin: 2rem 0;
}

.card-box > a {
    height: 100%;
}

#add-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-card-img
{
    width: 30%;
    border-radius: 50%;
}

#add-card-img:hover
{
    transform: scale(1.02);
    transition: box-shadow 0.5s, transform 0.5s;
}

.card {
    width: 15rem;
    aspect-ratio: 10/13;
    border-radius: 10%;
    color: var(--color-black);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.7px);
    -webkit-backdrop-filter: blur(14.7px);
    border: 1px solid rgba(255, 255, 255, 0.02);
    transform-origin: 0% 0;
}

.card-content{
    width: 100%;
    height: 100%;
}

.form-group{
    width: 100%;
    height: 100%;
}

.card:hover {
    transform: scale(1.02);
    transition: box-shadow 0.5s, transform 0.5s;
    box-shadow: 0 0 30px 4px #000000;
}

.card-icons {
    width: 100%;
    display: flex;
    justify-content: right;
}

.card-img {
    width: max(1.4vw, 1rem);
    margin: 0 0.2rem;
}

#edit-img:hover {
    border-radius: 50%;
    box-shadow: 0 0 10px 2px var(--color-black);
}

#delete-img:hover {
    border-radius: 50%;
    box-shadow: 0 0 10px 2px var(--color-black);
}

.description {
    font-size: 1rem;
    max-width: 100%;
    overflow-wrap: break-word;
    flex-grow: 3;
}

#add-card-img:hover {
    transform: scale(1.02);
    transition: box-shadow 0.5s, transform 0.5s;
    box-shadow: 0 0 30px 4px #000000;
}

.time {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    flex-grow: 1;
    margin: 0.5rem 0;
}

.time > h3 {
    padding: 0;
    font-size: max(0.9vw, 0.7rem);
}

#edited-img, #true-img, #false-img {
    height: max(0.8vw, 1rem);
    width: max(0.8vw, 1rem);
}

.container {
    width: 100%;
    height: 18px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
}

#description-field{
    width: 100%;
    height: 60%;
    padding: 10px;
    border-radius: 0.3rem;
    resize: none;
    box-sizing: border-box;
    white-space: normal;
    text-align: justify;
    text-align-last: center;
    background-color: transparent;
    border: none;
}

#description-field:focus{
    outline: none;
}

#cbx {
    accent-color: #32CD32;
}

#buttons-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    --color: var(--color-black);
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    margin: 0.5rem 0;
}

.button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
    --color: var(--color-green);
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    color: rgb(10, 25, 30);
}

.button:active {
    filter: brightness(.8);
}


#footer {
    width: 100%;
    padding: 1vh 0;
    color: var(--color-black);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#media-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-link {
    width: max(2vw, 1rem);
    margin: 0.8rem;
    border-radius: 50%;
}

.image-link:hover {
    transform: scale(1.1);
    box-shadow: 0 0 16px 0 var(--color-black);
    cursor: pointer;
}

h3 {
    font-style: normal;
    font-size: max(0.9vw, 6px);
    padding: 0.4rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@media screen and (min-width: 1500px) {
    .card{
        width: 17rem;
    }
}

@media screen and (max-width: 1500px) {
    .card{
        width: 15rem;
    }
}

@media screen and (max-width: 1300px) {
    .description {
        font-size: 0.8rem;
    }

    .card{
        width: 13rem;
    }
}

@media screen and (max-width: 1200px) {
    .description {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 950px) {
    .description {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 750px) {
    .description {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 650px) {
    .description {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 400px) {
    .description {
        font-size: 0.6rem;
    }
    #header_logo {
        font-size: 0.8rem;
    }
    .card{
        width: 10rem;
    }
}

@media screen and (max-width: 200px) {
    .description {
        font-size: 0.4rem;
    }
    .card{
        width: 120px;
    }
}