<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" href="../static/css/todo-list-style.css" th:href="@{/css/todo-list-style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap" rel="stylesheet">
    <title>ToDo List</title>
</head>
<body>
<header>
    <div class="header-block">
        <h1>TODO List</h1>
    </div>
</header>
<article>
    <div class="main_class">
        <section class="cards">
            <article class="card" id="add-card">
                <div class="card-content" style="justify-content: center; align-items: center;">
                    <a id="link" th:href="@{/create-todo}">
                        <img id="add-img" src="/static/img/add.png" th:src="@{/img/add.png}">
                    </a>
                </div>
            </article>
            <article class="card" th:each="item : ${todoItems}">
                <div class="card-content">
                    <div id="card-description">
                        <h1 th:text="${item.description}">Description</h1>
                    </div>
                    <div id="card-time">
                        <h1 th:text="${item.updatedAt}">Time</h1>
                        <img class="icon" th:src="@{/img/edit-icon.png}"
                             th:style="(${item.createdAt} == ${item.updatedAt}) ? 'visibility : hidden;':'visibility: visible;'"/>
                        <img class="icon" th:if="${item.isComplete} == true" th:src="@{/img/true.png}"/>
                        <img class="icon" th:unless="${item.isComplete} == true" th:src="@{/img/false.png}"/>
                    </div>
                    <div id="buttons-box">
                        <a th:href="@{/edit/{id}(id=${item.id})}">
                            <button id="button-edit"><strong>Edit</strong></button>
                        </a>
                        <a th:href="@{/delete/{id}(id=${item.id})}">
                            <button id="button-delete"><strong>Delete</strong></button>
                        </a>
                    </div>
                </div>
                </a>
            </article>
        </section>

    </div>
</article>

<footer>

</footer>

</body>
</html>