<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" href="../static/css/todo-list-style.css" th:href="@{/css/todo-list-style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext" rel="stylesheet">
    <title>ToDo List</title>
</head>
<body>
<header>
    <div class="header-block">
        <h1>TODO List > create</h1>
    </div>
</header>
<article>
    <div class="main_class">

            <article class="new-card">
                <form class="card-content" action="#" th:action="@{/todo}" th:object="${todoItem}" method="POST">
                    <div class="form-group">
                        <textarea class="form-control"
                               type="text"
                               th:field="*{description}"
                               id="description"
                               placeholder="Description"
                                  maxlength="254"></textarea>
                        <div class="container">
                            <input type="checkbox" id="cbx"
                                   th:field="*{isComplete}"
                                   th:checked="${isComplete} == true">
                            <label class="form-check-label" for="cbx">Completed</label>
                        </div>
                        <div id="buttons-box">
                            <button type="submit" id="button-green"><strong>Create</strong></button>
                        </div>
                    </div>

                </form>
            </article>

    </div>
</article>

<footer>
    <div class="footer-icons-main">
        <div id="footer-items">
            <a href="https://t.me/vitalik_bella">
                <img class="footer-img" id="tg" src="/static/img/telegram.png" th:src="@{/img/telegram.png}">

            </a>
            <a href="https://github.com/nprblm">
                <img class="footer-img" id="git" src="/static/img/github.png" th:src="@{/img/github.png}">

            </a>
            <a href="https://www.linkedin.com/in/vitalii-bella-526849230/">
                <img class="footer-img" id="li" src="/static/img/linkedin.png" th:src="@{/img/linkedin.png}">

            </a>
        </div>
    </div>
    <div class="footer-text">
        <h1 id="footer-bottom-text">©TODO list 2023</h1>
    </div>
</footer>

</body>
</html>